#astro{
    margin-right: 0%;
    margin-left: 0%;
    position: absolute;
    left: 50%;
    top: 50%;
    
    width: 50%;
    
     }
    #logoo{
    width: 200px;
    position: absolute;
    top: 20%;
    
    }