html{
font-size: 100%;
box-sizing: border-box;
width: 100%;

}

body{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
margin-bottom: 0%;
    height: 100%;
    width: 100%;
}
a{


    text-decoration: none;
}
#logo{

margin-top:0%;
margin-bottom: 0;
    width: 11%;
     vertical-align:middle;
     margin-left: 20px;
    

}


#title{
    margin-left: 3cm;
    margin-left: 10px;
        color: aliceblue;
        font-size: large;
        font-weight: 100;
        font-family: "Lucida Console",monospace;

}
 span {

     margin-left: 3cm;
margin-left: 10px;
    color: aliceblue;
    font-size: large;
    font-weight: 100;
    font-family: "Lucida Console",monospace;
}
nav{
width: 100%;
height: 65%;
}

.main{


    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
margin-bottom: 0%;
    height: 100vh;
    width: 100%;
}

 

.nav_links{
    flex: 1;
    text-align: right;
    width: 100%;
}
#header{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: #04294F;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    
}

.nav_links ul li {

    list-style: none;
    display: inline-block;
    position: relative;
padding: 8PX 12px;

text-decoration: none;

}
.cont{
display: grid;

    grid-template-columns: repeat(2,1fr);
}

.class_logo{
    width: 110%;

    grid-column-start: 1;
    grid-column-end:2 ;
}
.nav_links ul li a{

color: aliceblue;
font-size: 15px;

}

.nav_links ul li::after{
    content: '';
    width: 0%;
    height: 2PX;
    background-color: #FFC12F;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav_links ul li:HOVER::after{
    width: 100%;

}

.container_main{
    display: grid;

grid-template-columns: 1fr 1fr ;

background-color:white;


}

.container_logo{
    display: block;
    padding: 20px;
    text-align: center;
    position: relative;

}
.container_logo_text p {

    margin-top: 5px;
    font-family: 'Macondo', cursive;
}

.container_logo_text h1{
    font-family: 'Macondo', cursive;

    
}
 .container_logo_text{
     position: absolute;
right: 20px;
     font-size: 20px;
text-align: left;

}

.astro{
position: absolute;
top: 40%;

left: 65%;
    width: 400px;
    
}

.logoo{

    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 20px;

    position: absolute;
    

}

@media(max-width:700px){



}
.more2{
 background-color: #04294F;
color: aliceblue;

}
.more1{

    color: #04294F;
}
.more1, .more2{
   
    display: block;
    text-decoration: none;
    padding: 15px 34px 18px 22px;
    font-size: 25px;
    border: 1PX solid #04294F;
    margin: 10px;
    margin-top: 100px;

text-align: center;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
box-shadow: 12px;

}
.more1:hover{
    border: 1PX solid #04294F;
    color: aliceblue;
    background:#F04E23;



}
.mai{

margin-top: 10px;
    display: grid;
    grid-template-columns:1fr 1fr;
    padding: 15px;
}
.sous{

text-align: center;
    position: absolute;
    background-color: #04294F;
    padding-left: 0px;
    width: 150px;
    color: aliceblue;
    display: none;
}

.nav_links li:hover > .sous{


    display: block;
}