



.sec_more_pres{

display: grid;
grid-template-columns: 1FR 1FR;

margin-top: 20px;
text-align: center;

}

.qui{

margin:0px;
    background-color:#04294F;
padding: 20px;
    grid-row-start: 1;
    grid-row-end:3 ;
    color:aliceblue;

    font-family: 'Abril Fatface', cursive;
    
}
.but{

margin-right: 0px;

margin-left: 0Px;
margin-bottom: 0PX;
margin-top:  0PX ;
    background-color:#f04e23;
width: 600px;
height: 200px;
padding: 30px;

color: aliceblue;
font-family:  'Lobster', cursive;



}

#mc2{

    width: 220px;
    position: absolute;
    left: 30px;
    margin: 0px;
    padding: 0px;
}
#mc1{


    width: 300Px;
    position: absolute;
    margin: 0px;
    left: 250px;
    bottom: -525px;

}
.acomp{
    margin-top: 0%;
    background-color:#ffb400 ;
    height: 200px;
    padding: 60px ;
    border-radius: 2px;
    font-family: 'Russo One', sans-serif;

}
#mc3{


    width: 250px;
    position: absolute;

    left: 20px;
    bottom: -600px;

}

